In [1]:
#logistic regression loan default dataset

In [2]:
import numpy as np
import pandas as pd
from datetime import datetime

In [3]:
#importing csv files

train=pd.read_csv("C:/Users/lavin/Downloads/ML record/vehicle-loan-default-prediction/train.csv")
test=pd.read_csv("C:/Users/lavin/Downloads/ML record/vehicle-loan-default-prediction/test.csv")

In [4]:
train.head()

,UNIQUEID,DISBURSED_AMOUNT,ASSET_COST,LTV,BRANCH_ID,SUPPLIER_ID,MANUFACTURER_ID,CURRENT_PINCODE_ID,DATE_OF_BIRTH,EMPLOYMENT_TYPE,...,SEC_SANCTIONED_AMOUNT,SEC_DISBURSED_AMOUNT,PRIMARY_INSTAL_AMT,SEC_INSTAL_AMT,NEW_ACCTS_IN_LAST_SIX_MONTHS,DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS,AVERAGE_ACCT_AGE,CREDIT_HISTORY_LENGTH,NO_OF_INQUIRIES,LOAN_DEFAULT
0,420825,50578,58400,89.55,67,22807,45,1441,1/1/1984,Salaried,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-1985,Self employed,...,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-1985,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-1993,Self employed,...,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,9/12/1977,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1

In [5]:
test.head()

,UNIQUEID,DISBURSED_AMOUNT,ASSET_COST,LTV,BRANCH_ID,SUPPLIER_ID,MANUFACTURER_ID,CURRENT_PINCODE_ID,DATE_OF_BIRTH,EMPLOYMENT_TYPE,...,SEC_CURRENT_BALANCE,SEC_SANCTIONED_AMOUNT,SEC_DISBURSED_AMOUNT,PRIMARY_INSTAL_AMT,SEC_INSTAL_AMT,NEW_ACCTS_IN_LAST_SIX_MONTHS,DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS,AVERAGE_ACCT_AGE,CREDIT_HISTORY_LENGTH,NO_OF_INQUIRIES
0,655269,53478,63558,86.54,67,22807,45,1497,1/1/1974,Salaried,...,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0
1,723482,55513,63163,89.45,67,22807,45,1497,20-05-1985,Self employed,...,0,0,0,5605,0,1,0,0yrs 8mon,1yrs 0mon,1
2,758529,65282,84320,79.93,78,23135,86,2071,14-10-1995,Salaried,...,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0
3,763449,46905,63896,76.58,78,17014,45,2070,1/6/1973,Self employed,...,0,0,0,0,0,0,0,2yrs 5mon,2yrs 5mon,0
4,708663,51428,63896,86.08,78,17014,45,2069,1/6/1972,Salaried,...,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0

In [6]:
train.shape

(233154, 41)

In [7]:
test.shape

(112392, 40)

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233154 entries, 0 to 233153
Data columns (total 41 columns):
UNIQUEID                               233154 non-null int64
DISBURSED_AMOUNT                       233154 non-null int64
ASSET_COST                             233154 non-null int64
LTV                                    233154 non-null float64
BRANCH_ID                              233154 non-null int64
SUPPLIER_ID                            233154 non-null int64
MANUFACTURER_ID                        233154 non-null int64
CURRENT_PINCODE_ID                     233154 non-null int64
DATE_OF_BIRTH                          233154 non-null object
EMPLOYMENT_TYPE                        233154 non-null object
DISBURSAL_DATE                         233154 non-null object
STATE_ID                               233154 non-null int64
EMPLOYEE_CODE_ID                       233154 non-null int64
MOBILENO_AVL_FLAG                      233154 non-null int64
AADHAR_FLAG                            233154 non-null int64
PAN_FLAG                               233154 non-null int64
VOTERID_FLAG                           233154 non-null int64
DRIVING_FLAG                           233154 non-null int64
PASSPORT_FLAG                          233154 non-null int64
PERFORM_CNS_SCORE                      233154 non-null int64
PERFORM_CNS_SCORE_DESCRIPTION          233154 non-null object
PRI_NO_OF_ACCTS                        233154 non-null int64
PRI_ACTIVE_ACCTS                       233154 non-null int64
PRI_OVERDUE_ACCTS                      233154 non-null int64
PRI_CURRENT_BALANCE                    233154 non-null int64
PRI_SANCTIONED_AMOUNT                  233154 non-null int64
PRI_DISBURSED_AMOUNT                   233154 non-null int64
SEC_NO_OF_ACCTS                        233154 non-null int64
SEC_ACTIVE_ACCTS                       233154 non-null int64
SEC_OVERDUE_ACCTS                      233154 non-null int64
SEC_CURRENT_BALANCE                    233154 non-null int64
SEC_SANCTIONED_AMOUNT                  233154 non-null int64
SEC_DISBURSED_AMOUNT                   233154 non-null int64
PRIMARY_INSTAL_AMT                     233154 non-null int64
SEC_INSTAL_AMT                         233154 non-null int64
NEW_ACCTS_IN_LAST_SIX_MONTHS           233154 non-null int64
DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS    233154 non-null int64
AVERAGE_ACCT_AGE                       233154 non-null object
CREDIT_HISTORY_LENGTH                  233154 non-null object
NO_OF_INQUIRIES                        233154 non-null int64
LOAN_DEFAULT                           233154 non-null int64
dtypes: float64(1), int64(34), object(6)
memory usage: 72.9+ MB

In [9]:
#missing data
total = train.isnull().sum().sort_values(ascending=False)
percent = (train.isnull().sum()/train.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head()

                   Total  Percent
LOAN_DEFAULT           0      0.0
PERFORM_CNS_SCORE      0      0.0
DRIVING_FLAG           0      0.0
VOTERID_FLAG           0      0.0
PAN_FLAG               0      0.0

In [10]:
train["LOAN_DEFAULT"].value_counts()

0    182543
1     50611
Name: LOAN_DEFAULT, dtype: int64

In [11]:
#working on categorical data

In [12]:
train.select_dtypes(include=np.object)

,DATE_OF_BIRTH,EMPLOYMENT_TYPE,DISBURSAL_DATE,PERFORM_CNS_SCORE_DESCRIPTION,AVERAGE_ACCT_AGE,CREDIT_HISTORY_LENGTH
0,1/1/1984,Salaried,3/8/2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
1,31-07-1985,Self employed,26-09-2018,I-Medium Risk,1yrs 11mon,1yrs 11mon
2,24-08-1985,Self employed,1/8/2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
3,30-12-1993,Self employed,26-10-2018,L-Very High Risk,0yrs 8mon,1yrs 3mon
4,9/12/1977,Self employed,26-09-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
...,...,...,...,...,...,...
233149,1/8/1988,Salaried,26-10-2018,D-Very Low Risk,1yrs 9mon,3yrs 3mon
233150,5/12/1988,Self employed,23-10-2018,A-Very Low Risk,0yrs 6mon,0yrs 6mon
233151,1/6/1976,Salaried,24-10-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
233152,26-03-1994,Salaried,29-09-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
233153,18-02-1984,Salaried,27-10-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon

In [13]:
train['PERFORM_CNS_SCORE_DESCRIPTION'].unique()

array(['No Bureau History Available', 'I-Medium Risk', 'L-Very High Risk',
       'A-Very Low Risk',
       'Not Scored: Not Enough Info available on the customer',
       'D-Very Low Risk', 'M-Very High Risk', 'B-Very Low Risk',
       'C-Very Low Risk', 'E-Low Risk', 'H-Medium Risk', 'F-Low Risk',
       'K-High Risk',
       'Not Scored: No Activity seen on the customer (Inactive)',
       'Not Scored: Sufficient History Not Available',
       'Not Scored: No Updates available in last 36 months', 'G-Low Risk',
       'J-High Risk', 'Not Scored: Only a Guarantor',
       'Not Scored: More than 50 active Accounts found'], dtype=object)

In [14]:
#for these 2 categorical features AVERAGE_ACCT_AGE,CREDIT_HISTORY_LENGTH

In [15]:
def duration(dur):
    yrs = int(dur.split(' ')[0].replace('yrs',''))
    mon = int(dur.split(' ')[1].replace('mon',''))
    return yrs*12+mon

In [16]:
train['AVERAGE_ACCT_AGE'] = train['AVERAGE_ACCT_AGE'].apply(duration)
train['CREDIT_HISTORY_LENGTH'] = train['CREDIT_HISTORY_LENGTH'].apply(duration)

In [17]:
train['DATE_OF_BIRTH']=train['DATE_OF_BIRTH'].apply(lambda x: x[-4:]).astype(int)

In [18]:
train['DISBURSAL_DATE']=train['DISBURSAL_DATE'].apply(lambda x: x[-4:]).astype(int)

In [19]:
train.select_dtypes(include=np.object)

       EMPLOYMENT_TYPE PERFORM_CNS_SCORE_DESCRIPTION
0             Salaried   No Bureau History Available
1        Self employed                 I-Medium Risk
2        Self employed   No Bureau History Available
3        Self employed              L-Very High Risk
4        Self employed   No Bureau History Available
...                ...                           ...
233149        Salaried               D-Very Low Risk
233150   Self employed               A-Very Low Risk
233151        Salaried   No Bureau History Available
233152        Salaried   No Bureau History Available
233153        Salaried   No Bureau History Available

[233154 rows x 2 columns]

In [20]:
#for converting date into something meaningful numerical wise

In [21]:
#below another approach

In [22]:
#pres_date='01-01-2020' # Present date

#def days_between(d1,d2):
   # d1=datetime.strptime(d1,'%d-%m-%y')
    #d2=datetime.strptime(d2,'%d-%m-%y')
    #return abs((d2-d1).days)

In [23]:
 # converting date of birth in years
#train['DATE_OF_BIRTH']=train['DATE_OF_BIRTH'].apply(lambda x:days_between(x,pres_date)/365)
# converting disbursed date to the present date
#train['DISBURSAL_DATE']=train['DISBURSAL_DATE'].apply(lambda x:days_between(x,pres_date)/365)

In [24]:
#train['DATE_OF_BIRTH']=train['DATE_OF_BIRTH'].apply(lambda x:x.replace("/", "-"))

In [25]:
#train['DISBURSAL_DATE']=train['DISBURSAL_DATE'].apply(lambda x:x.replace("/", "-"))

In [26]:
#above another approach

In [27]:
#label encoding rest of the 2 categorical features

In [28]:
import sklearn.preprocessing as pre

In [29]:
train["EMPLOYMENT_TYPE"]=pre.LabelEncoder().fit_transform(train["EMPLOYMENT_TYPE"])

In [30]:
train["PERFORM_CNS_SCORE_DESCRIPTION"]=pre.LabelEncoder().fit_transform(train["PERFORM_CNS_SCORE_DESCRIPTION"])

In [31]:
train.select_dtypes(include=np.object)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[233154 rows x 0 columns]

In [32]:
#performing logistic regression

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [34]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233154 entries, 0 to 233153
Data columns (total 41 columns):
UNIQUEID                               233154 non-null int64
DISBURSED_AMOUNT                       233154 non-null int64
ASSET_COST                             233154 non-null int64
LTV                                    233154 non-null float64
BRANCH_ID                              233154 non-null int64
SUPPLIER_ID                            233154 non-null int64
MANUFACTURER_ID                        233154 non-null int64
CURRENT_PINCODE_ID                     233154 non-null int64
DATE_OF_BIRTH                          233154 non-null int32
EMPLOYMENT_TYPE                        233154 non-null int32
DISBURSAL_DATE                         233154 non-null int32
STATE_ID                               233154 non-null int64
EMPLOYEE_CODE_ID                       233154 non-null int64
MOBILENO_AVL_FLAG                      233154 non-null int64
AADHAR_FLAG                            233154 non-null int64
PAN_FLAG                               233154 non-null int64
VOTERID_FLAG                           233154 non-null int64
DRIVING_FLAG                           233154 non-null int64
PASSPORT_FLAG                          233154 non-null int64
PERFORM_CNS_SCORE                      233154 non-null int64
PERFORM_CNS_SCORE_DESCRIPTION          233154 non-null int32
PRI_NO_OF_ACCTS                        233154 non-null int64
PRI_ACTIVE_ACCTS                       233154 non-null int64
PRI_OVERDUE_ACCTS                      233154 non-null int64
PRI_CURRENT_BALANCE                    233154 non-null int64
PRI_SANCTIONED_AMOUNT                  233154 non-null int64
PRI_DISBURSED_AMOUNT                   233154 non-null int64
SEC_NO_OF_ACCTS                        233154 non-null int64
SEC_ACTIVE_ACCTS                       233154 non-null int64
SEC_OVERDUE_ACCTS                      233154 non-null int64
SEC_CURRENT_BALANCE                    233154 non-null int64
SEC_SANCTIONED_AMOUNT                  233154 non-null int64
SEC_DISBURSED_AMOUNT                   233154 non-null int64
PRIMARY_INSTAL_AMT                     233154 non-null int64
SEC_INSTAL_AMT                         233154 non-null int64
NEW_ACCTS_IN_LAST_SIX_MONTHS           233154 non-null int64
DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS    233154 non-null int64
AVERAGE_ACCT_AGE                       233154 non-null int64
CREDIT_HISTORY_LENGTH                  233154 non-null int64
NO_OF_INQUIRIES                        233154 non-null int64
LOAN_DEFAULT                           233154 non-null int64
dtypes: float64(1), int32(4), int64(36)
memory usage: 69.4 MB

In [35]:
Y=train['LOAN_DEFAULT']
X=train.drop(['LOAN_DEFAULT','UNIQUEID'],axis=1)

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [37]:
logistic = LogisticRegression()
logistic.fit(X_train,y_train)

C:\Users\Ayush Shah\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [38]:
predictions = logistic.predict(X_test)

In [39]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.78      1.00      0.88     54756
           1       0.00      0.00      0.00     15191

    accuracy                           0.78     69947
   macro avg       0.39      0.50      0.44     69947
weighted avg       0.61      0.78      0.69     69947

In [40]:
#Logistic model on test data

In [41]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112392 entries, 0 to 112391
Data columns (total 40 columns):
UNIQUEID                               112392 non-null int64
DISBURSED_AMOUNT                       112392 non-null int64
ASSET_COST                             112392 non-null int64
LTV                                    112392 non-null float64
BRANCH_ID                              112392 non-null int64
SUPPLIER_ID                            112392 non-null int64
MANUFACTURER_ID                        112392 non-null int64
CURRENT_PINCODE_ID                     112392 non-null int64
DATE_OF_BIRTH                          112392 non-null object
EMPLOYMENT_TYPE                        112392 non-null object
DISBURSAL_DATE                         112392 non-null object
STATE_ID                               112392 non-null int64
EMPLOYEE_CODE_ID                       112392 non-null int64
MOBILENO_AVL_FLAG                      112392 non-null int64
AADHAR_FLAG                            112392 non-null int64
PAN_FLAG                               112392 non-null int64
VOTERID_FLAG                           112392 non-null int64
DRIVING_FLAG                           112392 non-null int64
PASSPORT_FLAG                          112392 non-null int64
PERFORM_CNS_SCORE                      112392 non-null int64
PERFORM_CNS_SCORE_DESCRIPTION          112392 non-null object
PRI_NO_OF_ACCTS                        112392 non-null int64
PRI_ACTIVE_ACCTS                       112392 non-null int64
PRI_OVERDUE_ACCTS                      112392 non-null int64
PRI_CURRENT_BALANCE                    112392 non-null int64
PRI_SANCTIONED_AMOUNT                  112392 non-null int64
PRI_DISBURSED_AMOUNT                   112392 non-null int64
SEC_NO_OF_ACCTS                        112392 non-null int64
SEC_ACTIVE_ACCTS                       112392 non-null int64
SEC_OVERDUE_ACCTS                      112392 non-null int64
SEC_CURRENT_BALANCE                    112392 non-null int64
SEC_SANCTIONED_AMOUNT                  112392 non-null int64
SEC_DISBURSED_AMOUNT                   112392 non-null int64
PRIMARY_INSTAL_AMT                     112392 non-null int64
SEC_INSTAL_AMT                         112392 non-null int64
NEW_ACCTS_IN_LAST_SIX_MONTHS           112392 non-null int64
DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS    112392 non-null int64
AVERAGE_ACCT_AGE                       112392 non-null object
CREDIT_HISTORY_LENGTH                  112392 non-null object
NO_OF_INQUIRIES                        112392 non-null int64
dtypes: float64(1), int64(33), object(6)
memory usage: 34.3+ MB

In [42]:
#missing data
total = test.isnull().sum().sort_values(ascending=False)
percent = (test.isnull().sum()/test.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head()

                       Total  Percent
NO_OF_INQUIRIES            0      0.0
CREDIT_HISTORY_LENGTH      0      0.0
DRIVING_FLAG               0      0.0
VOTERID_FLAG               0      0.0
PAN_FLAG                   0      0.0

In [43]:
test.select_dtypes(include=np.object)

,DATE_OF_BIRTH,EMPLOYMENT_TYPE,DISBURSAL_DATE,PERFORM_CNS_SCORE_DESCRIPTION,AVERAGE_ACCT_AGE,CREDIT_HISTORY_LENGTH
0,1/1/1974,Salaried,3/11/2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
1,20-05-1985,Self employed,20-11-2018,C-Very Low Risk,0yrs 8mon,1yrs 0mon
2,14-10-1995,Salaried,29-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
3,1/6/1973,Self employed,29-11-2018,Not Scored: Only a Guarantor,2yrs 5mon,2yrs 5mon
4,1/6/1972,Salaried,17-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
...,...,...,...,...,...,...
112387,14-05-1992,Self employed,28-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
112388,24-04-1984,Self employed,19-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
112389,1/1/1986,Self employed,17-11-2018,B-Very Low Risk,4yrs 10mon,9yrs 5mon
112390,1/1/1973,Self employed,15-11-2018,D-Very Low Risk,0yrs 3mon,0yrs 3mon
112391,1/1/1974,Self employed,28-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon

In [44]:
test['AVERAGE_ACCT_AGE'] = test['AVERAGE_ACCT_AGE'].apply(duration)
test['CREDIT_HISTORY_LENGTH'] = test['CREDIT_HISTORY_LENGTH'].apply(duration)

In [45]:
test['DATE_OF_BIRTH']=test['DATE_OF_BIRTH'].apply(lambda x: x[-4:]).astype(int)

In [46]:
test['DISBURSAL_DATE']=test['DISBURSAL_DATE'].apply(lambda x: x[-4:]).astype(int)

In [47]:
test["EMPLOYMENT_TYPE"]=pre.LabelEncoder().fit_transform(test["EMPLOYMENT_TYPE"])

In [48]:
test["PERFORM_CNS_SCORE_DESCRIPTION"]=pre.LabelEncoder().fit_transform(test["PERFORM_CNS_SCORE_DESCRIPTION"])

In [49]:
test.select_dtypes(include=np.object)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[112392 rows x 0 columns]

In [50]:
test=test.drop(['UNIQUEID'],axis=1)

In [51]:
predictions2 = logistic.predict(test)

In [52]:
print(classification_report(y_test,predictions2[:69947]))

              precision    recall  f1-score   support

           0       0.78      1.00      0.88     54756
           1       0.20      0.00      0.00     15191

    accuracy                           0.78     69947
   macro avg       0.49      0.50      0.44     69947
weighted avg       0.66      0.78      0.69     69947